body {
   background-color: rgba(255,255,255,0.7);
}

.plane {
  width: 160px;
  height: 90px;
  background-color: blue;
  background-image: url('images/tear.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid red;
}

button {
  background-color: green;
}
