body {
   background-color: rgba(255,255,255,0.7);
}

.plane {
  width: 160px;
  height: 90px;
  background-color: blue;
  background-image: url('images/tear.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.5);
}

button {
  background-color: green;
}

.searchbox {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
}

#search {
  width: 80%;
  display: inline-block;
}

#searchbutton {
  width: 15%;
  display: inline-block;
}
